.char-short {
    display: inline-block;
    padding: 16px;
    text-align: center;
    margin: 16px;
    border: 1px solid indigo;
    color: indigo;
}

.char-long-enough {
    display: inline-block;
    padding: 16px;
    text-align: center;
    margin: 16px;
    border: 1px solid hotpink;
    color: hotpink;
}
